
## <summary>policy for folm</summary>


########################################
## <summary>
##	Transition to folm.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`folm_domtrans',`
	gen_require(`
		type folm_t, folm_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, folm_exec_t, folm_t)
')


########################################
## <summary>
##	Execute folm server in the folm domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`folm_initrc_domtrans',`
	gen_require(`
		type folm_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, folm_initrc_exec_t)
')


########################################
## <summary>
##	Search folm lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`folm_search_lib',`
	gen_require(`
		type folm_var_lib_t;
	')

	allow $1 folm_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read folm lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`folm_read_lib_files',`
	gen_require(`
		type folm_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, folm_var_lib_t, folm_var_lib_t)
')

########################################
## <summary>
##	Manage folm lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`folm_manage_lib_files',`
	gen_require(`
		type folm_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, folm_var_lib_t, folm_var_lib_t)
')

########################################
## <summary>
##	Manage folm lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`folm_manage_lib_dirs',`
	gen_require(`
		type folm_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, folm_var_lib_t, folm_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a folm environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`folm_admin',`
	gen_require(`
		type folm_t;
		type folm_initrc_exec_t;
		type folm_var_lib_t;
	')

	allow $1 folm_t:process { ptrace signal_perms };
	ps_process_pattern($1, folm_t)

	folm_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 folm_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, folm_var_lib_t)

')

