# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit folmd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/folm/folm.conf

[Unit]
Description=Folm daemon
After=network.target

[Service]
ExecStart=/usr/bin/folmd -daemon -conf=/etc/folm/folm.conf -pid=/run/folmd/folmd.pid
# Creates /run/folmd owned by folm
RuntimeDirectory=folmd
User=folm
Type=forking
PIDFile=/run/folmd/folmd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
